# Shakhyry Walsh
## Professor Larry Cohen
## IS 362
## 10/25/2025

# Project 3

### Objective
This project demonstrates how to join data across multiple tables in a relational database and display the combined information using `pandas`.

### Database
We are using the **Chinook_Sqlite.sqlite** database available at:
https://github.com/lerocha/chinook-database/releases

## Install Required Libraries

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.22.4 in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\shakh\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

## Import Libraries and Connect to the Database

In [7]:
import sqlite3
import pandas as pd

conn = sqlite3.connect("Chinook_Sqlite.sqlite")

print("Connected to Chinook database successfully!")

Connected to Chinook database successfully!

## Write SQL Query

In [3]:
query = """
SELECT 
    c.LastName,
    c.FirstName,
    t.Name AS TrackName,
    al.Title AS AlbumTitle
FROM Customer c
JOIN Invoice i ON c.CustomerId = i.CustomerId
JOIN InvoiceLine il ON i.InvoiceId = il.InvoiceId
JOIN Track t ON il.TrackId = t.TrackId
JOIN Album al ON t.AlbumId = al.AlbumId
ORDER BY c.LastName, c.FirstName;
"""

## Load Query Results into a pandas DataFrame

In [8]:
import pandas as pd

df = pd.read_sql_query(query, conn)

df = df.rename(columns={
    'TrackName': 'Name',
    'AlbumTitle': 'Title'
})

df.head()

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas

## Export and Close

In [5]:
df.to_csv("customer_tracks_albums.csv", index=False)

conn.close()
print("Database connection closed successfully!")

Database connection closed successfully!