# Week 1 - Python Basics
Shakhyry Walsh
Professor Larry Cohen
IS 362
8/28/25

In [8]:
one = 1
two = 2
three = 3
four = 4
can = "can"
do = "do"
python = "python"
more = "more"

print(one, two, three, four, can, do, python, more)

1 2 3 4 can do python more

In [9]:
number1 = 15
number2 = 30
result = number1 * number2
print("The result is", result)

The result is 450

In [22]:
def check_first_last(nums):
    
    return nums[0] == nums[-1]

numbers_x = [10, 20, 30, 40, 10]
numbers_y = [75, 65, 35, 75, 30]

print("Given list:", numbers_x)
print("result is", check_first_last(numbers_x))

print("numbers_y:", numbers_y)
print("result is", check_first_last(numbers_y))

Given list: [10, 20, 30, 40, 10]
result is True
numbers_y: [75, 65, 35, 75, 30]
result is False

In [12]:
nums = [10, 20, 33, 46, 55]
print("Given list is", nums)
print("Divisible by 5")
for n in nums:
    if n % 5 == 0:
        print(n)

Given list is [10, 20, 33, 46, 55]
Divisible by 5
10
20
55

In [13]:
str_x = "Anjali is good developer. Anjali is a writer"
count = str_x.count("Anjali")
print("Anjali appeared", count, "times")

Anjali appeared 2 times

In [14]:
for i in range(1, 6):
    print((str(i) + " ") * i)

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [15]:
for i in range(1, 11):
    for j in range(1, 11):
        print(i * j, end="\t")
    print()

1	2	3	4	5	6	7	8	9	10
2	4	6	8	10	12	14	16	18	20
3	6	9	12	15	18	21	24	27	30
4	8	12	16	20	24	28	32	36	40
5	10	15	20	25	30	35	40	45	50
6	12	18	24	30	36	42	48	54	60
7	14	21	28	35	42	49	56	63	70
8	16	24	32	40	48	56	64	72	80
9	18	27	36	45	54	63	72	81	90
10	20	30	40	50	60	70	80	90	100

In [16]:
import numpy as np

Temp_K = [390.65, 107.52, 225.25, 275.98, 318.18, 88.45]
Temp_array = np.array(Temp_K)
Temp_C = Temp_array - 273.15
print("Temperatures in Celsius:", Temp_C)

Temperatures in Celsius: [ 117.5  -165.63  -47.9     2.83   45.03 -184.7 ]

In [43]:
import pandas as pd

data = {
    "Student": ["Tommy", "Fred", "Gail", "Shakhyry", "Randy", "Ariel"],
    "Hair Color": ["Brown", "Grey", "Blonde", "Golden", "Black", "Brown"],
    "Eye Color": ["Hazel", "Green", "Blue", "Honey", "Hazel", "Blue"],
    "Weight_kg": [60, 80, 76, 60, 88, 85],
}

df = pd.DataFrame(data)

print(df)

print("\nHair Color:")
print(df["Hair Color"].to_string(name=False, dtype=False))

print("\nEye Color:")
print(df["Eye Color"].to_string(index=True, header=True))

print("\nStudent & Weight Columns:")
print(df[["Student", "Weight_kg"]])

print("\nSecond through Fourth Observations:")
print(df.iloc[1:4])

    Student Hair Color Eye Color  Weight_kg
0     Tommy      Brown     Hazel         60
1      Fred       Grey     Green         80
2      Gail     Blonde      Blue         76
3  Shakhyry     Golden     Honey         60
4     Randy      Black     Hazel         88
5     Ariel      Brown      Blue         85

Hair Color:
0     Brown
1      Grey
2    Blonde
3    Golden
4     Black
5     Brown

Eye Color:
0    Hazel
1    Green
2     Blue
3    Honey
4    Hazel
5     Blue

Student & Weight Columns:
    Student  Weight_kg
0     Tommy         60
1      Fred         80
2      Gail         76
3  Shakhyry         60
4     Randy         88
5     Ariel         85

Second through Fourth Observations:
    Student Hair Color Eye Color  Weight_kg
1      Fred       Grey     Green         80
2      Gail     Blonde      Blue         76
3  Shakhyry     Golden     Honey         60